<% layout('/layouts/boilerplate') %>

    <div class="row">
        <!-- <div class="col col-6 offset-2 mt-5 mb-4 show-heading">
            <h3>Listings Details</h3>
        </div> -->
        <h3 class="col col-6 offset-2 mt-3 mb-2">
            <b>
                <%= listing.title%>
            </b>
        </h3>

        <div class="card col-6 offset-2 listing-card">
            <!-- <br><br> -->
            <img src="<%= listing.image.url ||'https://via.placeholder.com/400x300.png?text=No+Image'%>"
                class="card-img-top show-img mb-2" alt="Listing-img">
            <div class="card-body">
                <p class="card-text">
                    <b>Owned By: <i>
                            <%= listing.owner.username%>
                        </i></b>
                </p>
                <p>
                    <%= listing.description%>
                </p>
                <p> &#8377; <%= listing.price%>
                </p> <!--.toLocaleString('en-IN')-->
                <p>
                    <%= listing.location%>
                </p>
                <p>
                    <b>
                        <%= listing.country%>
                    </b>
                </p>
            </div>
        </div>

        <!-- the buttons will only appear for owner using if condition -->
        <% if( currUser && currUser._id.equals(listing.owner._id)) { %>
            <div class="btns">
                <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-2 offset-2 edit-btn">Edit</a>

                <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-dark offset-2 delete-btn">Delete </button>
                </form>
            </div>
            <% } %>

                <hr class="mt-5">
                <div class="card col-6 offset-2 mt-3 p-2 mb-4">
                    <h4 class="mb-3"><b>Leave a Review</b></h4>
                    <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">

                        <div class="mb-3">
                            <label for="rating" class="form-label">Rating</label>

                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div>
                            <label for="comment" class="form-label">comment</label>
                            <textarea required name="review[comment]" rows="5" cols="30" id="comment"
                                placeholder="Review please..." class="p-2 form-control"></textarea>
                            <div class="invalid-feedback">Please write some comments before submit.</div>
                        </div>
                        <button class="btn btn-dark  delete-btn mt-2">Submit</button>
                    </form>

                    <hr>

                    <h4><b>All Reviews</b></h4>


                    <% for(let review of listing.reviews) {%>
                        <div class="card p-3 mt-2">
                            <div class="card-body">
                                <h6 class="card-title"><b>Jone duo</b></h6>
                                <p class="starability-result card-text" data-rating="<%=review.rating%>"> </p>

                                <p class="card-text">
                                    <%=review.comment%>
                                </p>
                                <!-- <p class="card-text">
                                    Rating: <%=review.rating%> <span style="color: orange;">Star</span>
                                </p> -->
                                <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-sm btn-dark">Delete</button>
                                </form>
                            </div>
                        </div>
                        <% } %>

                </div>
    </div>